@font-face {
  font-family: "Anton";
  src: url("./assets/Anton-Regular.ttf");
}

@font-face {
  font-family: "Kanit-Bold";
  src: url("./assets/Kanit-Bold.ttf");
}

@font-face {
  font-family: "Kanit-SemiBold";
  src: url("./assets/Kanit-SemiBold.ttf");
}

@font-face {
  font-family: "Kanit-Medium";
  src: url("./assets/Kanit-Medium.ttf");
}
